<h1>New User</h1>

<form action="<%=users_url%>" method="post">
  <%= auth_token %>
  <label>Username</label>
  <input type="text" name="user[username]"><br>
  <label>Passsword</label>
  <input type="password" name="user[password]">
  <input type="submit" value"Create User">
</form>

<%= link_to 'Back', users_path %>
